@charset "utf-8";

.body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #eee;
}

.main {
    background-color: #fff;
    width: 40vw;
    padding: 2%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    line-height: 2.4rem;
}

.fieldInput {
    width: 100%;
    outline: none;
}

.form input {
    flex: 1;
    height: 48px;
    margin-bottom: 15px;
    padding: 0 20px;
    color: #777;
    font-size: 15px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 12px;
}

.form div {
    display: flex;
}

.formTitle {
    display: flex;
    flex-direction: column;
}

.form p {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #999;
}

.form p a {
    text-decoration: none;
}

.form p a:hover {
    color: #3d3fc4;
}

.error {
    color: #b31010;
}

.button {
    color: #fff;
    font-size: 20px;
    background: #636dfc;
    height: 56px;
    border: 0;
    border-radius: 5px;
    width: 100%;
}

.button:hover {
    background-color: #3d3fc4;
}

input:-webkit-autofill {
    box-shadow: 0 0 0 30px #999 inset;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #000;
}