  @charset "utf-8";
  

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
    font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif !important;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
  }

  .body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
  }

  .main {
    width: 50vw;
    padding: 2%;
    border-radius: 8px;
    line-height: 2.4rem;
    background-color: #fff;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  }

  .fieldInput {
    width: 100%;
    outline: none;
  }

  .form {
    display: flex;
    flex-direction: column;
  }

  .form input {
    flex: 1;
    height: 48px;
    margin-bottom: 15px;
    padding: 0 20px;
    color: #777;
    font-size: 15px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 12px;
  }

  .form div {
    display: flex;
  }

  .button {
    color: #fff;
    font-size: 20px;
    background: #636dfc;
    height: 56px;
    border: 0;
    border-radius: 5px;
    width: 100%;
  }

  .button:hover {
    background-color: #3d3fc4;
  }

  .body h1 {
    text-align: center;
  }

  h1 a {
    font-size: 18px;
    font-weight: bold;
    color: #999;
    text-decoration: none;
  }

  a:hover {
    color: #3d3fc4;
  }
  
  .error {
    color: #b31010;
  }

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #000 !important;
}