  @charset "utf-8";
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
  

  * {
    font-family: 'Poppins';
  }

  .body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
  }

  .main {
    
    width: 50vw;
    padding: 2%;
    border-radius: 8px;
    line-height: 2.4rem;
    background-color: #999;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  }

  .fieldInput {
    width: 100%;
    outline: none;
  }

  .form input {
    border: 3px;
    color: #000000;
    background-color: #999;
    border-color: rgb(0, 0, 0);
  }

  .form {
    display: flex;
    flex-direction: column;
  }

  .button {
    font-size: 16px;
    color: black;
    background-color: #b42121;
    width: 100px;
    border: none;
    border-radius: 8px;
    padding: 0 0;
  }

  .button:hover {
    background-color: #c43d3d;
  }

  .error {
    color: #b31010;
  }

  input:-webkit-autofill {
    box-shadow: 0 0 0 30px #999 inset;
}

  input:-webkit-autofill {
    -webkit-text-fill-color: #000;
}